<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <title>Songbirds from Anatoliy Komarov</title>
</head>
<body class="container-fluid  flex flex-col justify-between min-h-screen text-blue-900 home-body relative fade-in px-2">
<header class="pt-2 container-fluid  border-3 border-gray-200  drop-shadow-lg">
    <nav class="container mx-auto ">
        <div class="logo-button bg-gray-50 bg-opacity-75 rounded p-1 my-2 w-full flex justify-center md:w-fit group hover:scale-95 transition duration-300 cursor-pointer">
            <img class="h-[70px] " src="public/images/logo.png" alt="song bird application logo">
        </div>
        <ul class="flex justify-between items-center items-stretch text-blue-900 font-bold text-xl flex-wrap sm:flex-nowrap">
            <li class="w-full sm:w-[unset] my-1 sm:my-0 go-home  active-header-tab cursor-pointer  bg-gray-50 bg-opacity-75 rounded  min-h-full  shadow-lg md:mr-2 p-2  flex items-center justify-center  transition duration-300 relative hover:bg-width hover:bg-opacity-100 hover:text-gray-900 cursor-pointer  hover:shadow-blue-700/50">

                Главная
            </li>
            <li class="w-full sm:w-[unset] my-1 sm:my-0 hidden game-result-box  bg-white rounded  min-h-full shadow-lg  py-2 px-4 text-xl flex items-center justify-center ">
                <span class="mr-2">Результат:</span> <span class="result">0</span>
            </li>

            <li class="w-full sm:w-[unset] my-1 sm:my-0 go-result hidden  bg-blue-50 bg-opacity-75 rounded  min-h-full shadow-lg  p-2  flex items-center justify-center  transition duration-300 hover:bg-width hover:bg-opacity-100 hover:text-gray-900 cursor-pointer  hover:shadow-blue-700/50">
                Ваши результаты
            </li>
            <li class="w-full sm:w-[unset] my-1 sm:my-0 go-previously-result hidden  bg-blue-50 bg-opacity-75 rounded  min-h-full shadow-lg  p-2  flex items-center justify-center  transition duration-300 hover:bg-width hover:bg-opacity-100 hover:text-gray-900 cursor-pointer  hover:shadow-blue-700/50">
                Результаты игр
            </li>
            <li class="w-full sm:w-[unset] my-1 sm:my-0 gallery-button hidden  bg-blue-50 bg-opacity-75 rounded  min-h-full shadow-lg  p-2  flex items-center justify-center  transition duration-300 hover:bg-width hover:bg-opacity-100 hover:text-gray-900 cursor-pointer  hover:shadow-blue-700/50">
                Галерея птиц
            </li>
            <li class="w-full sm:w-[unset] my-1 sm:my-0 go-game  bg-blue-700 text-white border border-blue-700 rounded  min-h-full shadow-lg  p-2  flex items-center justify-center   transition duration-300 cursor-pointer hover:bg-white  hover:text-blue-700  ">
                Начать игру
            </li>
        </ul>
    </nav>
</header>
<main class="container-fluid    h-full grow flex flex-col ">
    <div class="home-page container mx-auto transition duration-300 min-h-full w-full grid grow relative transition duration-300 fade-in"></div>
    <div class="game-page  transition duration-300 fade-in">
        <section class="questions-title container mx-auto  my-2">
        </section>
        <section class="player-section container mx-auto rounded p-2  my-2   bg-gray-50 bg-opacity-[90%] shadow-xl">
        </section>
        <section
                class="task-section container mx-auto rounded py-1 my-2 flex justify-between items-start  w-full bg-gray-50 bg-opacity-[90%] shadow-xl flex-wrap md:flex-nowrap">
            <div class="birds-list w-full  h-full p-2 border-r border-gray-200  "></div>
            <div class="solution w-full  p-2 min-h-full self-stretch p-2 "></div>

        </section>
        <p class="next-level-button container mx-auto rounded p-2  my-3   bg-gray-50 opacity-[90%] text-xl flex justify-center items-center shadow-xl">
            Следующий уровень
        </p>
    </div>
    <div class="hidden results-page  container mx-auto   transition duration-300 fade-in"></div>
    <div class="gallery-page container mx-auto transition duration-300 min-h-full w-full grid grow relative transition duration-300 fade-in bg-white bg-opacity-[90%] rounded-lg p-2 grid my-2"></div>
</main>
<footer class="p-2 md:p-8 container-fluid  backdrop-blur-sm bg-white/30">
    <div class="container mx-auto flex justify-between items-center font-bold text-blue-900 flex-wrap sm:flex-nowrap">
        <p class="w-full sm:w-[unset] mb-0 bg-gray-50 bg-opacity-75 p-2 hover:bg-opacity-100 transition duration-300 text-center ">
            <span class="mr-2">© 2022.</span>
            <a target="_blank" href="https://github.com/komarofff"
               class="text-blue-900 hover:text-gray-900 transition duration-300 ">Github - Anatoliy Komarov</a>
        </p>
        <p class="go-gallery mt-2 sm:mt-0 w-full rounded-lg cursor-pointer sm:w-[unset] mb-0 bg-gray-50 bg-opacity-75 p-2 hover:bg-blue-700  hover:text-white transition duration-300 text-center text-blue-700 font-bold ">
            Галерея птиц
        </p>
        <a target="_blank" href="https://rs.school/js/"
           class=" mt-2 sm:mt-0 w-full sm:w-[unset]  flex items-center justify-center  font-bold group bg-gray-50 bg-opacity-75  p-2 hover:bg-opacity-100 transition duration-300">
            <img class="w-[50px] mr-2 transition duration-300 " src="public/images/rs_school_js.svg" alt="rs_school">
            <span class="group-hover:text-gray-900 transition duration-300 ">Курс «JavaScript/Front-end»</span>
        </a>
    </div>
</footer>
</body>
</html>